@charset "UTF-8";
.body-bg {
    background: red;
    height: 500px;
}
.body-content {
    background: red;
}
.column {
    width: 33.333%;
    height: 100%;
    float: left;
    // padding: 10px;
    background-color: red;
}
